.circuit-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: visible;
}

.circuit {
    height: 100%;
    width: 2px;
    background-color: var(--color-highlight);
}