.bio-stat {
    padding: 0.5rem 2rem;
}

.bio-stat:not(:last-child) {
    border-right: 2px solid var(--color-500);
}

.bio-stat-number {
    color: var(--color-100);
}

.bio-stat-text {
    color: var(--color-text-primary);
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}

@media (max-width: 1200px) {
    .bio-stat-text {
        font-size: 1.8rem;
    }
}

@media (max-width: 1024px) {
    .bio-stat-number {
        font-size: 2.5rem;
    }
    
    .bio-stat-text {
        font-size: 1.5rem;
    }
}

@media (max-width: 575px) {
    .bio-stat-number {
        font-size: 2rem;
    }
    
    .bio-stat-text {
        font-size: 1.2rem;
    }
}