#quotes-container {
    padding: 5rem;
    border-radius: 30px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-100);
    color: var(--color-text-secondary);
}

#quote-text-container {
    height: 160px;  /* Height needed for longest quote */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quote-text {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
    font-style: italic;
}

.quote-author {
    font-size: 1.8rem;
    margin-top: 1rem;
    text-align: right;
    font-weight: 600;
}

#quote-selectors {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.quote-selector {
    display: inline-block;
    background-color: var(--color-500);
    height: 15px;
    width: 15px;
    border-radius: 999px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.quote-selector.active {
    width: 30px;
    background-color: var(--color-highlight);
    border: 2px solid var(--color-950);
}

.loading-bar-container {
    margin-top: 1rem;
    height: 15px;
    width: 100%;
    background-color: var(--color-300);
    border-radius: 999px;
    border: 2px solid var(--color-950);
}

.loading-bar {
    height: 100%;
    width: 0%;
    background-color: var(--color-highlight);
    border-radius: 999px;
}

.loading-bar.active {
    width: 100%;
    transition: width 7s linear;
}