.main-nav-mobile {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);

    width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--color-text-primary);
    background-color: var(--color-800);

    border: 2px solid transparent;
    border-radius: 10px;

    padding: 0.5rem 2rem;

    font-family: var(--font-tertiary);
    font-size: 1.5rem;
    font-weight: 400;

    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer-nav.main-nav-mobile {
    width: 100%;
    top: 0;
    left: 450px;
    transform: none;
    background-color: var(--color-600);
}

.footer-nav.main-nav-mobile a.mobile-nav-button {
    background-color: var(--color-600);
}

.footer-nav.main-nav-mobile a.mobile-nav-button:hover {
    background: none;
    border: 2px solid var(--color-600);
}

a.mobile-nav-button {
    background-color: var(--color-800);
    width: 100%;
    padding: 0;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
}

a.mobile-nav-button:hover {
    background: none;
    border: 2px solid var(--color-800);
    color: var(--color-highlight);
}

.mobile-nav-menu {
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: all 0.3s ease;
}

.mobile-nav-menu.open {
    height: 120px;
    margin-top: 1rem;
}

@media (max-width: 1200px) {
    .footer-nav.main-nav-mobile {
        left: 400px;
    }
}

@media (max-width: 1200px) {
    .footer-nav.main-nav-mobile {
        width: 60%;
    }
}

@media (max-width: 1000px) {
    .footer-nav.main-nav-mobile {
        width: 100%;
        top: 140px;
        left: 0;
    }
}