#bio-container {
    display: flex;
    justify-content: space-between;
}

#bio-image-and-title {
    width: 410px;
}

#bio-title {
    width: 100%;
}

#bio-image {
    background-image: url('../../images/bio-image.jpeg');
    background-size: 112%;
    background-position: 0 20%;
    width: 350px;
    border-radius: 999px;
    aspect-ratio: 1;
    box-shadow: var(--box-shadow);
}

#bio-stats-and-quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 720px;
}

#bio-stats-and-quote-container h4 {
    margin-bottom: 2rem;
}

#bio-stats-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    height: fit-content;
    margin-bottom: 4rem;
}

#bio-fun-facts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
    width: 100%;
    margin-top: 2rem;
}

.fun-fact-category {
    color: var(--color-100);
    font-weight: 500;
}

.fun-fact-value {
    color: var(--color-text-primary);
    font-size: 1.8rem;
    font-weight: 700;
}