.experience-item {
    position: relative;
    max-width: 850px;
    padding: 4rem;
    border-radius: 30px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-50);
    color: var(--color-text-secondary);
}

.experience-item-content {
    display: grid;
    column-gap: 4rem;
    grid-template-columns: auto auto;
}

.experience-img {
    grid-row: span 2;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
}

.experience-text h4 {
    color: var(--color-500);
    font-family: var(--font-primary);
    font-weight: 700;
}

.experience-date-range,.experience-date-range-mobile {
    font-weight: 600;
    margin: 1rem 0;
}

.experience-date-range-mobile {
    display: none;
}

.experience-duration {
    color: var(--color-500);
}

.experience-description {
    grid-column-start: 2;
}

.arrow-placeholder {
    position:absolute;
    bottom:-90px;
    left:0;
    right:0;
}

.top-arrow-placeholder {
    position:absolute;
    top:-90px;
    left:0;
    right:0;
}

.arrow, .top-arrow {
    position:relative;
    margin:0 auto;
    width:0px;
}

.arrow:before, .arrow:after, .top-arrow:before, .top-arrow:after {
    content:'';
    background:#fff;
    top: 30px;
    width:18px;
    height:4px;
    display: block;
    position: absolute;
    border-radius: 3px;
    -webkit-border-radius:3px;
}

.arrow:before {
    left: -3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow:after {
    right:-5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.top-arrow:before {
    left: -3px;
    top: 26px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.top-arrow:after {
    right:-5px;
    top: 26px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow-down-animated {
    margin:0 auto;
    position:relative;
    left: 1px;
    width:60px;
    height:60px;
    border:3px solid #ffffff;
    border-radius:70px;
    animation: pulse 2s infinite;
    -webkit-animation:pulse 2s infinite;
    cursor: pointer;
}

.arrow-down-animated:after {
    content:'';
    position:absolute;
    top:-5px;
    left:-5px;
    width:60px;
    height:60px;
    border:2px solid #ffffff;
    border-radius:70px;
    animation: ring 2s infinite;
    -webkit-animation:ring 2s infinite;
}

@keyframes pulse {
	0% {
		-webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
	}
	
	10% {
		-webkit-transform: scale(1.08);
        transform: scale(1.08);
        opacity: 1
	}
	
	40% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
	
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes ring {
    0% {
		-webkit-transform: scale(1);
		transform: scale(1);	
		opacity: .8
    }

    100% {
        -webkit-transform: scale(1.8);
        transform: scale(1.8);
        opacity: 0
    }
}

@media (max-width: 1200px) {
    .experience-img {
        height: 150px;
        width: 150px;
    }

    .experience-item {
        padding: 3rem;
    }

    .experience-text p {
        font-size: 1.5rem;
    }
}

@media(max-width: 880px) {
    .top-arrow-placeholder {
        top: -60px;
    }
    .arrow-placeholder {
        bottom: -60px;
    }
    .arrow-down-animated {
        width: 40px;
        height: 40px;
    }
    .arrow-down-animated:after {
        width: 40px;
        height: 40px;
    }
    .arrow:before, .arrow:after, .top-arrow:before, .top-arrow:after {
        width: 15px;
    }
    .top-arrow:before {
        top: 17px;
        left: -2px;
    }
    .top-arrow:after {
        top: 17px;
        right: -4px;
    }
    .arrow:before {
        top: 20px;
        left: -2px;
    }
    .arrow:after {
        top: 20px;
        right: -4px;
    }


    .experience-item-content {
        grid-template-columns: 130px auto;
        column-gap: 0;
    }
    .experience-img {
        height: 120px;
        width: 120px;
        border-radius: 20px;
    }
    .experience-text {
        min-height: 141px;
    }
    .experience-description {
        grid-column-start: 1;
        grid-column: span 2;
    }
}

@media (max-width: 768px) {
    .experience-item-content {
        grid-template-columns: 110px auto;
    }

    .experience-img {
        height: 100px;
        width: 100px;
        border-radius: 15px;
    }

    .experience-text {
        min-height: 123px;
    }

    .experience-text h4 {
        font-size: 2rem;
    }
}

@media (max-width: 660px) {
    .experience-date-range {
        display: none;
    }

    .experience-date-range-mobile {
        display: block;
        grid-column: span 2;
    }

    .experience-text {
        min-height: auto;
    }
}

@media (max-width: 575px) {
    .experience-item-content {
        grid-template-columns: 85px auto;
    }

    .experience-img {
        height: 80px;
        width: 80px;
        border-radius: 10px;
    }

    .experience-text h4 {
        font-size: 1.8rem;
    }
}