#chips-container {
    display: flex;
}

.chip-container {
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 8px);
    grid-template-rows: repeat(auto-fill, 8px);
}
