#chips-container {
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    --chip-color: var(--color-500);
    --chip-shadow-color: var(--color-400);
}

.chip {
    display: grid;
    position: relative;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    height: 120px;
    aspect-ratio: 1;
    background-color: var(--chip-color);
    border: 3px solid var(--color-50);
    border-radius: 15px;
}

#online-chip {
    box-shadow: 0px 0px 15px 5px var(--chip-shadow-color);
    transition: box-shadow 0.3s ease;
    animation: glow 4s infinite;
}

.chip::before {
    content: '';
    height: 100%;
    box-sizing: border-box;
    aspect-ratio: 1;
    background-color: var(--color-700);
    border: 5px solid var(--color-50);
    border-radius: 10px;
    grid-row-start: 2;
}

.chip-text {
    font-family: var(--font-tertiary);
    font-size: 1.5rem;
    color: var(--color-text-primary);
    text-align: right;
    grid-row-start: 3;
    justify-self: end;
    align-self: end;
    margin: 0 5px 10px 0;
}

.chip-node {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px solid var(--color-50);
    border-radius: 50%;
}

@keyframes glow {
    0% {
        box-shadow: 0px 0px 15px 5px var(--chip-shadow-color);
    }
    50% {
        box-shadow: 0px 0px 30px 10px var(--chip-shadow-color);
    }
    100% {
        box-shadow: 0px 0px 15px 5px var(--chip-shadow-color);
    }
}


#chip-node-1 {
    top: -17px;
    left: 0px;
}

#chip-node-2 {
    top: -17px;
    left: 17px;
}

#chip-node-3 {
    top: -17px;
    right: 34px;
}

#chip-node-4 {
    right: -17px;
    top: 17px;
}

#chip-node-5 {
    right: -17px;
    top: 34px;
}

#chip-node-6 {
    right: -17px;
    bottom: 17px;
}

#chip-node-7 {
    right: -17px;
    bottom: 0px;
}

#chip-node-8 {
    bottom: -17px;
    right: 0px;
}

#chip-node-9 {
    bottom: -17px;
    right: 17px;
}

#chip-node-10 {
    bottom: -17px;
    right: 34px;
}

#chip-node-11 {
    bottom: -17px;
    left: 17px;
}

#chip-node-12 {
    bottom: -17px;
    left: 0px;
}

#chip-node-13 {
    left: -17px;
    bottom: 17px;
}

#chip-node-14 {
    left: -17px;
    bottom: 34px;
}

#chip-node-15 {
    left: -17px;
    top: 0px;
}

#chip-node-16 {
    left: -17px;
    top: 34px;
}