.skill-container {
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    border: 2px solid var(--color-50);
    border-radius: 5px;
    background-color: var(--color-500);
    z-index: 1;
}

.skill-title-and-img {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: max-content;
    padding: 0.5rem 1.5rem;
}

.skill-title {
    font-family: var(--font-primary);
    font-weight: 900;
    text-align: center;
}

.skill-img {
    height: 20px;
    width: auto;
}

.skill-description {
    display: none;
}