.skill-container {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--color-highlight);
    border-radius: 5px;
    background-color: var(--color-900);
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
    transition: all 0.3s ease;
    overflow: hidden;
}

.skill-container.active {
    z-index: 2;
    padding: 1rem;
    transform: scale(1.2);
}

.skill-container.active .skill-description {
    display: inline-block;
}

.skill-title-and-img {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: max-content;
    padding: 0.5rem;
    cursor: pointer;
}

.skill-title {
    font-family: var(--font-tertiary);
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.skill-img {
    height: 30px;
    width: auto;
}

.skill-description {
    display: none;
    width: 200px;
}

.skill-title span {
    min-width: 10px;
    display: inline-block;
    animation: wave 2s ease-in-out infinite;
}

.skill-container.active .skill-title span {
    animation: none;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(2px);
        color: var(--color-text-primary);
    }
    50% {
        transform: translateY(-2px);
        color: revert-layer;
    }
}
