footer {
    display: flex;
    flex-direction: column;
    width: 850px;
}

#footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

#bio-image-and-title-footer {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#bio-image-footer {
    border: 1px solid var(--color-100);
    background-image: url('../../images/bio-image.jpeg');
    background-size: 112%;
    background-position: 0 20%;
    height: 100px;
    width: 100px;
    border-radius: 999px;
    aspect-ratio: 1;
    box-shadow: var(--box-shadow);
}

#bio-title-footer h3 {
    font-size: 3rem;
}

#bio-title-footer h4 {
    font-size: 2rem;
}

#socials {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.social-container a {
    display: block;
}

.social-container i {
    color: var(--color-text-primary);
    font-size: 3rem;
}

.social-container i:hover {
    color: var(--color-500);
}

#contact-info-container {
    display: flex;
    gap: 4rem;
}

.contact-info-category {
    color: var(--color-100);
    font-weight: 500;
}

.contact-info-value a {
    color: var(--color-text-primary);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
}

.contact-info-value a:hover {
    text-decoration: underline;
}

#footer-nav-container {
    border-top: 2px solid var(--color-500);
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

#footer-nav {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.footer-nav-link {
    text-decoration: none;
    color: var(--color-text-primary);
    font-size: 1.6rem;
    font-weight: 500;
}

.footer-nav-link:hover {
    color: var(--color-500);
}