#experience-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

#experience-item-container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex: 1;
    transition: padding 0.3s ease;
}