#experience-container {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
}

#experience-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    transition: padding 0.3s ease;
}