.button {
    background-color: var(--color-primary);
    border: 2px solid transparent;
    border-radius: 999rem;
    color: var(--color-text-secondary);
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: var(--color-background);
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
}

section {
    margin: 0 auto;
}

h1 {
    font-size: 8rem;
    margin: 0;
}

h2 {
    font-size: 6rem;
    margin: 0;
}

h3 {
    font-size: 3rem;
    margin: 0;
}

p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0;
}

.hover-animation {
    transition: scale 0.3s ease;
}

.hover-animation:hover {
    scale: 1.05;
}