.button {
    width: fit-content;
    background-color: var(--color-500);
    border: 2px solid transparent;
    border-radius: 999rem;
    color: var(--color-text-primary);
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: var(--color-800);
    border: 2px solid var(--color-500);
}

.button-secondary {
    background-color: var(--color-highlight-secondary);
    border: 2px solid transparent;
    color: var(--color-text-secondary);
}

.button-secondary:hover {
    background-color: color-mix(in srgb, var(--color-highlight-secondary), transparent 25%);
    border: 2px solid var(--color-highlight-secondary);
    color: var(--color-text-secondary);
}

.button-tertiary {
    background-color: var(--color-highlight);
    border: 2px solid transparent;
    color: var(--color-text-secondary);
}

.button-tertiary:hover {
    background-color: color-mix(in srgb, var(--color-highlight), transparent 25%);
    border: 2px solid var(--color-highlight);
    color: var(--color-text-secondary);
}

section .container {
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

section#experience {
    background-color: var(--color-900);
    color: var(--color-text-primary);
}

section#experience .container {
    padding: 50px 0;
}

h1 {
    font-size: 8rem;
    margin: 0;
}

h2 {
    font-size: 6rem;
    margin: 0;
}

h3 {
    font-size: 4rem;
    margin: 0;
}

h4 {
    font-size: 3rem;
    margin: 0;
}

h5 {
    font-size: 2.5rem;
    margin: 0;
}

p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
}

.subtitle {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2rem;
}

.hover-animation {
    transition: scale 0.3s ease;
}

.hover-animation:hover {
    scale: 1.05;
}

.projects-container {
    margin: 4rem 0;
    display: flex;
    justify-content: space-evenly;
}