* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Slab', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

:root {}

@media (prefers-color-scheme: dark) {
  :root {}
}

#root {}
