@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Instrument Sans', sans-serif;
  font-size: 10px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

:root {
  /* Light-Violet Default */
  --color-50:  #F2E6FF;
  --color-100: #DBB8FF;
  --color-200: #CF9FFF;
  --color-300: #AD5CFF;
  --color-400: #962EFF;
  --color-500: #8000FF;
  --color-600: #6900D1;
  --color-700: #5200A3;
  --color-800: #3B0075;
  --color-900: #240047;
  --color-950: #0D001A;

  --color-background: var(--color-950);
  --color-highlight: #00FF00; /* Split Complementary Color */
  --color-highlight-secondary: #FFFF00; /* Split Complementary Color */

  --color-text-primary: #fff;
  --color-text-secondary: #000;
  --color-text-tertiary: #666;

  --box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.magenta {
  --color-50: #FFE6FF;
  --color-100: #FFB8FF;
  --color-200: #FF8AFF;
  --color-300: #FF5CFF;
  --color-400: #FF2EFF;
  --color-500: #FF00FF;
  --color-600: #D100D1;
  --color-700: #A300A3;
  --color-800: #750075;
  --color-900: #470047;
  --color-950: #1A001A;
}

/* @media (prefers-color-scheme: dark) {
  :root {}
} */

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}
