#personal-container .project-container {
    max-width: 400px;
}

@media (max-width: 768px) {
    #personal-container .project-container {
        max-width: 80%;
    }
}

@media (max-width: 660px) {
    #personal-container .project-container {
        max-width: 100%;
    }
}